# copied from https://github.com/metacran/r-builder/blob/master/sample.travis.yml
# @ 2015/09/19

language: c
sudo: required

before_install:
  - curl -OL https://raw.githubusercontent.com/metacran/r-builder/master/pkg-build.sh
  - chmod 755 pkg-build.sh
  - ./pkg-build.sh bootstrap

install:
  - ./pkg-build.sh install_deps

script:
  - ./pkg-build.sh run_tests

after_failure:
  - ./pkg-build.sh dump_logs

notifications:
  email:
    recipients:
      - fabian.scheipl@googlemail.com
      - huangracer@gmail.com
    on_success: change
    on_failure: always

env:
  matrix:
    - RVERSION=release
    - RVERSION=devel
