# Export all functions
exportPattern(".")

# Import all packages listed as Imports or Depends
import(boot,
  mgcv,
  fda,
  MASS,
  glmnet,
  Matrix,
  gamm4,
  matrixStats,
  lme4,
  RLRsim,
  splines
)

S3method(coef,pfr)
S3method(coef,pffr)
S3method(fitted,pffr)
S3method(model.matrix,pffr)
S3method(plot,fosr)
S3method(plot,fosr.perm)
S3method(plot,fpcr)
S3method(plot,lpeer)
S3method(plot,peer)
S3method(plot,pffr)
S3method(coef,pfr)
S3method(predict,fgam)
S3method(predict,pffr)
S3method(predict,pfr)
S3method(predict,pfr_old)
S3method(print,summary.pffr)
S3method(residuals,pffr)
S3method(summary,pffr)
S3method(summary,pfr)

