# Export all functions
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  boot,
  mgcv,
  fda,
  MASS,
  glmnet,
  wavethresh,
  Matrix,
  gamm4,
  matrixStats,
  lme4,
  splines,
  RLRsim
)