S3method(predict,face.sparse)
S3method(predict,pspline.face)
export(face.sparse)
export(pspline)
export(select.knots)
export(cor.face)
import(stats)
import(Matrix)
import(splines)
import(matrixcalc)
import(mgcv)
